<div class="slanted-div" id="section2">
    <div class="content">
        <p class="title">ABOUT ME</p>
        <div class="container">
            <div class="photobox">
                <img class="photo" src="./assets/img/photo.jpg" alt="photo">
            </div>
            <div class="description">
                <div class="text">
                    <p>I Code and Develop website and web apps.</p>
    
                    <p>Skilled in HTML5, CSS3, Javascript, Typescript, Angular, and I can also work with Bootstrap.</p>
                    
                    <p>I received a bachelor's degree at the Southern Federal University, at the Faculty of High Technologies and Piezotechnics, majoring in innovation.</p>
                    
                    <p>I would like to work in a company where I can develop as a web developer and work on interesting projects!</p>
                </div>
                <a href="https://docs.google.com/document/d/1NbfDK70uEvzImq2ePZixtJpgpFZnVujEbDGrVu4fvZA/edit?usp=sharing" target="_blank"><button class="btn">View Resume</button></a>
            </div>
        </div>
    </div>
</div>