<div class="footer" id="section5">
    <div class="content">
        <a href="#section1" class="smooth-scroll" (click)="scrollTo('section1')"><img src="./assets/img/arrow-up-circle-fill.png" alt="arrow" class="icon"></a>
        <div class="links">
            <a href="https://t.me/PopAtush" target="_blank"><img src="./assets/img/telegram.png" alt="Telegram"></a>
            <a href="https://github.com/antonkhar" target="_blank"><img src="./assets/img/github.png" alt="GitHub"></a>
            <a href="mailto:anton.kharitonov.012@bk.ru" target="_blank"><img src="./assets/img/envelope.png" alt="Mail"></a>
            <a href="https://vk.com/a.kharitonov99" target="_blank"><img src="./assets/img/chat.png" alt="VK"></a>
        </div>
    </div>
    <hr>
</div>
