<p class="page-name" id="section3">PROJECTS</p>
<div class="card">
    <div class="text">
        <div class="title">Calorie Calculator</div>
        <div class="description">A project necessary for studying, demonstrating the possibilities of working with angular and typescript.</div>
        <div class="panel">
            <a href="https://antonkhar.github.io/callories/" target="_blank" class="link"><button class="btn live"><span>See live</span></button></a>
            <a href="https://github.com/antonkhar/callories" class="link" target="_blank">Source Code</a>
        </div>
    </div>
    <div class="photo" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
        <a href="https://antonkhar.github.io/callories/" target="_blank" class="link"><img src="./assets/img/greennew.png" alt="photo"></a>
    </div>
</div>
<div class="card">
    <div class="text">
        <div class="title">Living Сorner</div>
        <div class="description">The project is based on the tour of heroes from the angular documentation. The project demonstrates the possibility of working with routing and dynamic object creation.</div>
        <div class="panel">
            <a href="https://antonkhar.github.io/ratsangle/" target="_blank" class="link"><button class="btn live"><span>See live</span></button></a>
            <a href="https://github.com/antonkhar/ratsangle" class="link" target="_blank">Source Code</a>
        </div>
    </div>
    <div class="photo" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
        <a href="https://antonkhar.github.io/ratsangle/" target="_blank" class="link"><img src="./assets/img/ratnew.png" alt="photo"></a>
    </div>
</div>
<div class="card">
    <div class="text">
        <div class="title">Beer Quiz</div>
        <div class="description">This website was made for myself, for a joke. It demonstrates the ability to work with JavaScript.</div>
        <div class="panel">
            <a href="https://antonkhar.github.io/Foam-Quiz/" target="_blank" class="link"><button class="btn live"><span>See live</span></button></a>
            <a href="https://github.com/antonkhar/Foam-Quiz" class="link" target="_blank">Source Code</a>
        </div>
    </div>
    <div class="photo" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
        <a href="https://antonkhar.github.io/Foam-Quiz/" target="_blank" class="link"><img src="./assets/img/beernew.png" alt="photo"></a>
    </div>
</div>
